{% extends 'base.html.twig' %}

{% block title %}Add an article{% endblock %}

{% block body %}
    {{ form_start(addArticle) }}

    <button type="submit" class="btn">Add</button>
    {{ form_end (addArticle) }}
{% endblock %}